[Unit]
Description=Inquiry API (Node.js)
After=network.target

[Service]
Environment=NODE_ENV=production
Environment=PORT=3000
Environment=DB_HOST=127.0.0.1
Environment=DB_USER=apiuser
Environment=DB_PASS=BpvApi_2025!
Environment=DB_NAME=appdb
Environment=CORS_ORIGIN=https://baustoffpreisevergleichen.de
Environment=SMTP_HOST=smtp.ionos.de
Environment=SMTP_PORT=587
Environment=SMTP_USER=info@baustoffpreisevergleichen.de
Environment=SMTP_PASS=Kabernagel98
Environment=FROM_EMAIL=Anfrageplattform <info@baustoffpreisevergleichen.de>
Type=simple
WorkingDirectory=/opt/inquiry-api
ExecStart=/usr/bin/node dist/index.js
Restart=always
RestartSec=5
User=www-data
Group=www-data

[Install]
WantedBy=multi-user.target


